{
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "auto",
  "bracketSameLine": true,
  "semi": true,
  "arrowParens": "always",
  "vueIndentScriptAndStyle": false,
  
  "jsxSingleQuote": true,
  "quoteProps": "as-needed",

  "embeddedLanguageFormatting" : "auto"
}