{
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "auto",
  "bracketSameLine": true,
  "semi": true,
  "arrowParens": "always",
  "vueIndentScriptAndStyle": false,
  "jsxSingleQuote": true,
  "quoteProps": "as-needed",
  "importOrderSortSpecifiers": true,
  "embeddedLanguageFormatting": "auto",
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "<THIRD_PARTY_MODULES>",
    "^(@/(.*)$)",
    "^[./]"
  ],
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
