:root {
  --Primary-100: #f8f1e5;
  --Primary-200: #e3d4b3;
  --Primary-300: #d0b17e;
  --Primary-400: #8d714d;
  --Primary-500: #5c5c5c;

  --Success-100: #f4fce3;
  --Success-200: #d9f8a8;
  --Success-300: #b3f17b;
  --Success-400: #7fcb4e;
  --Success-500: #5c5c5c;

  --Error-100: #fce3e3;
  --Error-200: #f8a8a8;
  --Error-300: #f17b7b;
  --Error-400: #cb4e4e;
  --Error-500: #5c5c5c;

  --White: #ffffff;
  --Warning-100: #fdf4e3;
  --Warning-200: #fbe8a8;
  --Warning-300: #f7d17b;
  --Warning-400: #f3cb4e;
  --Warning-500: #5c5c5c;
  --Black: #000000;

  --Grayscale-100: #f8f9fa;
  --Grayscale-200: #e9ecef;
  --Grayscale-300: #dee2e6;
  --Grayscale-400: #343a40;
  --Grayscale-500: #212529;

  --Info-100: #e3f1fc;
  --Info-200: #b3d4fa;
  --Info-300: #5c7cfa;
  --Info-400: #3b5bdb;
  --Info-500: #5c5c5c;
}
